
:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-cover: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-text-color: #000028;
  --accent-color: #FF0070;
  --color-main-text: #F1B2CE;
  --outline-hover: #ff007066;
  --outline: #ff0070;
  .decor {
      display: initial;
  }
}