:root.theme-light {
  --background-cover: url("..//images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --color-main-text: #353430;
  --background-color: #FFF1F7;
  --outline-hover: #32312D66;
  --outline: #353430;
  --title-text-color: #353430;
  --header-title: #FFC2E6;
  --decorated-zone-color: #353430;
  --section-title-color: #353430;
  .decor {
      display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --background-cover: url("..//images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --color-main-text: #353430;
  --background-color: #FFF1F7;
  --outline-hover: #32312D66;
  --outline: #353430;
  --title-text-color: #353430;
  --header-title: #FFC2E6;
  --section-title-color: #353430;
  --decorated-zone-color: #353430;
  }
  .decor {
    display: none;
 }
} 
