/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-cover: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono';
  --size-main-text: 18px;
  --size-title-text: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-text: 23.9px;
  --color-main-text: #F1B2CE;
  --font-weight-title: 700;
  --font-weight-text: 400;
}
