/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-cover: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-text-color: #000028;
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono';
  --size-main-text: 18px;
  --size-title-text: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-text: 23.4px;
  --color-main-text: #F1B2CE;
  --font-weight-title: 700;
  --font-weight-text: 400;
  --dep: 10px;
  --outline-hover: #ff007066;
  --outline: #ff0070;
  --header-title: #DB00FF;
  --decorated-zone-color: #ff0070;
  --section-title-color: #ff0070;
}

@media (width >= 768px) {
  :root {
    --size-title-text: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --dep: 20px;
  }
}